@media only screen and (max-width: 600px){
    .fællesskabet, .sport, .kontakt {display: none;}
}
@media only screen and (max-width: 768px){
    .fællesskabet, .sport, .kontakt {display: none;}
}
/*baggrund farve og typografi */
body{
    background-color: #f9f6f0;
    font-family: "oswald", sans-serif;
    margin: 0;
}

/* background-color ændre farven på baggrund. color ændrer farven på tekst. display definerer elementet, som flex 
container og hvere child element inden i er et flex element. justify-content placerer teksten til højre. 
padding , font-weight definerer tykkelsen på skriften. margin-top placerer nav i forhold til sidens toppen*/
nav{
    background-color: #2b4257;
    color: #ffffff;
    display: flex;
    justify-content: right;
    padding: 1%;
    font-weight: normal;
    margin-top: -170px;
    font-size: 24px;
    height: 90px;
    position: sticky;
    }

.fællesskabet, .sport, .kontakt {
    margin-right: 35px;
}
/* list-styl-type none: gør så navigationen ikke pladseres som en liste*/
nav ul{
    list-style-type: none;
}
/* li = listen inline er hvordan vi ønsker at fremvise. Her på linie*/
nav li{
    display: inline;
}
/* for at fjerne link farven og gøre teksten hvid*/
a:link {
    color: #ffffff;
    text-decoration: none;
}
/*når man hover over bliver teksten understrejet, og indikere klikbarhed*/
a:hover{
    text-decoration: underline;
}
a:visited{
     text-decoration: none;
     color: #ffffff;
}

/* margin-left placerer logoet i venstre side af skærmen. position sticky sørger for at logoet følger navigationsbar
z-index 1 ligger logoet over navigationsbar. top placerer logoet i forhold til toppen*/
.logo {
    margin-left: 30px;
    z-index: 1;
    position: sticky;
    top: 10px;
}

.lob {
    margin-right: 740px;
    font-size: 30px;
 
}
footer {
    background-color: #2b4257;
    color: #ffffff;
    padding: 10px;
    margin-top: 800px;  
    display: flex;
    justify-content: space-between;
    text-align: left;

}

footer ul {
    list-style-type: none; 
}
